/* RGB */
$color1: rgba(38, 70, 83, 1);
$color2: rgba(42, 157, 143, 1);
$color3: rgba(233, 196, 106, 1);
$color4: rgba(244, 162, 97, 1);
$color5: rgba(231, 111, 81, 1);
$background: gainsboro;

$marker: "Permanent Marker";
$kalam: "Kalam";
$mont: 'Montserrat';