
@import '../../assets//styles/variables';
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        text-decoration: none;
        color: initial;
    }
}

.categories{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    width: 75%;

    .category{
        height: 25px;
        cursor: pointer;
        padding: 20px;
        display: flex;
        justify-content: center;
        background-color: $color5;
        margin: 5px;
        font-size: 1.6rem;
        color: white;
    }
}